# The Python Programming Language: Functions

###### Creating Add functions

In [1]:
def add_numbers(x, y):
    return x + y

In [2]:
add_numbers(5, 2)

7

###### Functions with Default Values

In [5]:
def do_math(a, b, kind='add'):
    if (kind=='add'):
        return a+b
    else:
        return a-b

In [6]:
do_math(1, 7,'Minus')

-6

In [7]:
do_math(1, 7,'add')

8

In [8]:
do_math(1, 7)

8

<br>
# The Python Programming Language: Types and Sequences

In [9]:
type("This is Python")

str

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(None)

NoneType

In [14]:
type(do_math)

function

###### Tuple and List

In [18]:
tuple = (1,'a','v',4)
list = [1,'a','v',4]

In [19]:
tuple.append(3.3)
print(tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
list.append(3.3)
print(list)

[1, 'a', 'v', 4, 3.3]

###### Writing loops

In [22]:
for item in list:
    print(item)

1
a
v
4
3.3

###### Check the length of function

In [25]:
len(tuple)

4

In [26]:
len(list)

5

###### Writing WHILE loop function

In [24]:
i=0
while( i != len(tuple) ):
    print(tuple[i])
    i = i +1

1
a
v
4

###### Concanate function

In [27]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [29]:
Pulkit = [1,2,3,4,5,6]
Jain = [10,11,12,13,14,15]

In [30]:
Name = Pulkit + Jain
Name

[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15]

###### Replicating Values across same function

In [33]:
Jain*2

[10, 11, 12, 13, 14, 15, 10, 11, 12, 13, 14, 15]

###### Checking if value is inside a function or not

In [34]:
1 in Jain

False

In [35]:
1 in Pulkit

True

## Operations on String

In [40]:
x = 'This is a sample Notebook on Basics of Python'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [41]:
len(x)
x[0:23]

'This is a sample Notebo'

In [43]:
x[-1] #Negative starts the counting from End

'n'

In [47]:
x[-6:]

'Python'

In [48]:
x[-1:-5]

''

In [49]:
x[:34]

'This is a sample Notebook on Basic'

In [50]:
x[5:]

'is a sample Notebook on Basics of Python'

In [52]:
firstname = 'Pulkit'
lastname = 'Jain'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Pulkit' in firstname)

Pulkit Jain
PulkitPulkitPulkit
True

In [ ]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)