### Importing Dataset

In [1]:
base_data = read.csv("Data.csv")

In [2]:
base_data

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

##### Missing Values Treatment

In [3]:
base_data$Age = ifelse(is.na(base_data$Age),ave(base_data$Age, FUN = function(x) mean(x, na.rm = TRUE)),base_data$Age)
base_data$Salary = ifelse(is.na(base_data$Salary),ave(base_data$Salary, FUN = function(x) mean(x, na.rm = TRUE)),base_data$Salary)
    
#median can also be used to replace missing value

In [4]:
base_data

   Country Age      Salary   Purchased
1  France  44.00000 72000.00 No
2  Spain   27.00000 48000.00 Yes
3  Germany 30.00000 54000.00 No
4  Spain   38.00000 61000.00 No
5  Germany 40.00000 63777.78 Yes
6  France  35.00000 58000.00 Yes
7  Spain   38.77778 52000.00 No
8  France  48.00000 79000.00 Yes
9  Germany 50.00000 83000.00 No
10 France  37.00000 67000.00 Yes

###### Treating Categorical Data - Encoding Categorial Data

In [5]:
base_data$Country = factor(base_data$Country,labels = c('1','2','3'))
base_data$Purchased = factor(base_data$Purchased,labels = c('0','1'))

###### Creating Test and Train Dataset

In [6]:
library("caTools")

Warning message:
"package 'caTools' was built under R version 3.4.3"

In [7]:
set.seed(123)

In [8]:
split = sample.split(base_data$Purchased,SplitRatio = .8)
#This returns true and false values against each value

In [9]:
training_set = subset(base_data, split == TRUE)
test_set = subset(base_data, split == FALSE)

In [10]:
test_set

  Country Age Salary Purchased
6 1       35  58000  1
9 2       50  83000  0

##### Feature Scaling

In [14]:
#All the columns should be numeric

training_set[,2:3] = scale(training_set[,2:3])
test_set[,2:3] = scale(test_set[,2:3])

In [15]:
test_set

  Country Age        Salary     Purchased
6 1       -0.7071068 -0.7071068 1
9 2        0.7071068  0.7071068 0